<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Master Header" lan="" version="1.0.1" date="2021-04-21" compatibility="2.3.1" installRequired="true" >
	<author name="Jimako " url="https://www.e107sk.com/" />
	<summary lan="">MastHead Plugin</summary>
	<description lan="">Welcome Message Alternative </description>
	<keywords>
		<word>content</word>
		<word>homepage</word>
		<word>theme</word>
	</keywords>
	<category>content</category>
	<copyright>https://www.e107sk.com/</copyright>               
	<adminLinks>
		<link url="admin/admin_config.php" description="" icon="img/masthead_32.png" iconSmall="img/masthead_16.png" 
        icon128="img/masthead.png" primary="true" >LAN_CONFIGURE</link>
	</adminLinks>	
</e107Plugin>